@* tudo que tiver dentro da sua view com @{} ele se referência a um código c# é nao código html *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro";
}


<h2>Cadastro de Produtos</h2>

@using(Html.BeginForm())
{

}



