<!DOCTYPE html>
<html>

    @RenderPage("_header.cshtml")

<body>

    @RenderPage("_navbarInterno.cshtml")

    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderPage("_footer.cshtml")


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    </body>
</html>