
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<br />
<br />

<fieldset>

    <legend>Cadastro de Cliente</legend>

    <form>


        <div class="row">
            <div class="col-md-3 form-group">
                <label>Nome Social:</label>
                <input type="text" placeholder="Inrisa o nome social" title="Campo Obrigatório" required="required" class="form-control" />
            </div>
            <div class="col-md-3 form-group">
                <label>Nome Fantasia:</label>
                <input type="text" placeholder="Insira o nome Fantasia" required="required" title="Campo e-mail é obrigatório" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <label>Endereço:</label>
                <input type="text" placeholder="Insira o Endereço" required="required" title="Campo e-mail é obrigatório" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Número:</label>
                <input type="number" placeholder="número" title="Campo Obrigatório" required="required" class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Complemento:</label>
                <input type="text" placeholder="Insira o complemento"  class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Bairro:</label>
                <input type="text" placeholder="Insira o bairro" class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Cidade:</label>
                <input type="text" placeholder="Insira a Cidade" class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Cep:</label>
                <input type="text" placeholder="Insira o cep" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Código IBGE:</label>
                <input type="number" placeholder="número" title="Campo Obrigatório" required="required" class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Desconto:</label>
                <input type="number"  class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Telefone:</label>
                <input type="tel"  class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Celular:</label>
                <input type="tel"  class="form-control" />
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2  form-group">
                <label>Contato:</label>
                <input type="text" placeholder="Insira o contato" class="form-control" />
            </div>
        </div>



</form>


</fieldset>


